.home {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: 0 auto;
  max-width: 2000px;
}

.home_banner {
  width: 100%;
  z-index: -1;
  margin-bottom: -20%;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0)
  );
  /* position: sticky; */
}

.product_container {
  display: flex;
  z-index: -1;
  margin: 0 5px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.product_container::-webkit-scrollbar {
  display: none;
}
