.product {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 10px;
  max-height: 400px;
  min-width: 200px;
  padding: 20px;
  width: 100%;
  top: 100%;
  transition: all 0.3s ease;
}

.product_image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 20px 0 auto 0;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
  width: 100%;
}

.price {
  margin-top: 5px;
}
.btn {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 20px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 5px;
}
.btn:hover {
  cursor: pointer;
  border-color: #111;
}

.product_rating {
  display: flex;
}

.product:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 5px #f0c14b);
}
